@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #1c1c1c;
}

body {
  color: #ffffff;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 50px auto 0;
  padding: 0 20px;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFD700;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  color: #ffffff;
}

.arrow-button {
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 16.5%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #3d5af1 40%, #22d1ee 100%);
  flex-grow: 1;
}

.card_title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  color: #ffffff;
}

.card_text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  color: #ffffff;
}

.banner {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 40px;
}

.botones {
  display: flex;
}

.boton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  border: none;
  border-radius: 50px;
}

.botonOut{
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  border: none;
  border-radius: 50px;
}

.boton:hover {
  background-color: #2b0670;
}

.botonOut:hover {
  background-color: #ca2536;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin: 0;
  }

  .botones {
    margin-top: 10px;
  }
}

.image-and-text {
  position: relative;
}

.welcome-section {
  text-align: center;
  margin-top: 36px;
  position: relative;
  overflow: hidden;
}

.welcome-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 500px;
  max-width: 1000px;
  filter: brightness(50%);
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 24px;
  color: rgb(255, 255, 255);
  z-index: -1;
}

.image-slider {
  margin-top: 10px;
}

a{
  text-decoration: none;
}